.card {
  box-shadow: var(--box-shadow-3);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;

  &--small {
    width: var(--size-224);
    height: var(--size-256);
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: var(--font-size-12);
    color: var(--secondary-content-color);
    text-transform: uppercase;
    text-align: center;
    font-family: var(--source-sans);
    letter-spacing: 0.75px;
    margin-bottom: var(--size-16);
    margin-top: var(--size-48);
  }

  &__footer {
    background-color: var(--blue-grey-050);
    padding: var(--size-16);
    display: flex;
  }
}
