.landing {
  &__section {
    width: 100%;
    height: var(--size-768);
    position: relative;
    background-color: var(--blue-grey-050);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__feature {
    display: flex;
  }

  &__feature-left {
    flex: 1;
    display: flex;
    max-width: var(--size-384);
    flex-direction: column;
    justify-content: center;
    margin-right: var(--size-96);
  }

  &__title {
    font-size: var(--font-size-72);
    color: var(--primary-content-color);
    line-height: 1.2;
    margin-bottom: var(--size-8);
  }

  &__tagline {
    font-size: var(--font-size-24);
    color: var(--secondary-content-color);
    line-height: 1.3;
    margin-bottom: var(--size-48);
  }

  &__feature-img-wrapper {
    display: inline-block;
    width: var(--size-256);
    height: var(--size-384);

    &:not(:first-child) {
      margin-left: -90px;
    }
  }

  &__feature-img {
    height: 100%;
    width: 100%;
    border: 7px solid var(--blue-grey-050);
    object-fit: cover;
    border-radius: 15px;
  }
}
