<div class="app">
  <div class="app__section app__section--1">
    <div class="app__feature">
      <div class="app__feature-left">
        <h1 class="app__title">Reboot</h1>
        <p class="app__tagline">Launch campaigns to bring your favourite television shows back to the small screen</p>
        <div class="btn-group">
          <button class="btn btn--primary">Create campaign</button>
          <button class="btn btn--secondary">View campaign</button>
        </div>
      </div>
      <div class="app__feature-right"></div>
    </div>
  </div>
</div>
