.app {
  &__section {
    width: 100%;
    height: var(--size-768);
    position: relative;
    background-color: var(--blue-grey-050);
  }

  &__feature {
    position: absolute;
    top: 47%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
  }

  &__feature-left {
    flex: 1;
  }

  &__feature-right {
    flex: 1;
  }

  &__title {
    font-size: var(--font-size-72);
    color: var(--primary-content-color);
    line-height: 1.2;
    margin-bottom: var(--size-8);
  }

  &__tagline {
    font-size: var(--font-size-24);
    color: var(--secondary-content-color);
    line-height: 1.3;
    margin-bottom: var(--size-48);
  }
}
