<div class="landing">
  <div class="landing__section landing__section--1">
    <div class="landing__feature">
      <div class="landing__feature-left">
        <h1 class="landing__title">Replay</h1>
        <p class="landing__tagline">All your favourite television shows in one place.</p>
        <div class="btn-group">
          <button class="btn btn--primary">Create account</button>
          <button class="btn btn--secondary">View shows</button>
        </div>
      </div>
      <div class="landing__feature-right">
        <div class="landing__feature-img-wrapper">
          <img class="landing__feature-img" src="assets/thrones.jpg" />
        </div>
        <div class="landing__feature-img-wrapper">
          <img class="landing__feature-img" src="assets/thrones.jpg" />
        </div>
        <div class="landing__feature-img-wrapper">
          <img class="landing__feature-img" src="assets/thrones.jpg" />
        </div>
        <div class="landing__feature-img-wrapper">
          <img class="landing__feature-img" src="assets/thrones.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>
