.dashboard {
  &__header {
    width: 100%;
    height: var(--size-64);
    border-bottom: 1px solid var(--blue-grey-050);
  }

  &__content {
    padding: var(--size-48) var(--size-48);
  }

  &__grid-container {
    margin: 0 auto;
    max-width: 800px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--size-48) var(--size-32);
    grid-template-areas: '. . .' 'workouts workouts workouts';
  }

  dsgn-workouts {
    grid-area: workouts;
  }
}
