.dashboard {
  &__header {
    width: 100%;
    height: var(--size-64);
    border-bottom: 1px solid var(--blue-grey-050);
  }

  &__content {
    padding: var(--size-48) var(--size-48);
  }

  // TODO: Change this to a CSS grid with fr for different size cards?
  &__grid {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--size-16) * -1);
    margin: 0 auto;
    max-width: 1200px;
    justify-content: center;
  }

  &__grid > * {
    margin: var(--size-16);
  }
}
